# debian package source
usr

# libcamera-raspi-debian/usr
# rpicam-debian/usr
# libcamera-rpi-zero-debian
# rpicam-rpi-zero-debian

# debian packages
*.deb

# source repos
libcamera-raspi-downstream/
rpicam-apps

# vscode settings
.vscode
