Package: rpicam-apps
Version: 0.0.0
Architecture: armhf
Section: misc
Priority: optional
Maintainer: Nayman Leung <naymansleung@gmail.com>
Depends: 
Description: A package providing raspi-cam, built downstream from Rpi
